img#image {
  height: 160px;
  width: 160px;
  padding: 0px 95px 30px 95px;
}

input {
  margin: 0px 50px;
}

#button {
  margin: 0px 33px 20px 33px;
}
#typeSport {
  text-align: center;
}

.mes_reservations {
  width: 1600px;
}

.titre_resa {
  margin-left: 120px;
}

.items {
  width: 1300px;
  margin-left: 170px;
}
